/*:root {
    --first-col: #ADAC84;
    --second-col: #D6CE93;
    --third-col: #EFEBCE;
    --forth-col: #FDF5E6;
}
*/

:root {
    --first-col: #405D72;
    --second-col: #758694;
    --third-col: #EEEEEE;
    --forth-col: #FFF8F3;
}

* {
    font-family: Poppins;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(/Images/Abstract.jpg);
    background-color: var(--second-col);
    background-position: center;
    background-size: cover;
    margin: 200px;
}

header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 100;
    align-items: center;
    padding: 20px 50px;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .6), transparent);
    transition: .5s;
}

header:hover::before {
    left: 100%;
}

footer {
    position: absolute;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    background-color: var(--second-col);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo, .logo:hover {
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.navbar a {
    color: #000;
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
    position: relative;
}

.navbar a::before {
    color: #000;
    content: '';
    background-color: #000;
    width: 0;
    height: 2px;
    top: 100%;
    left: 0;
    position: absolute;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

form {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    border-radius: 15px;
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.5);
    display: flex;
    padding: 60px;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, .4);
    justify-content: center;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(2px);
    width: 500px;
}

.input-box {
    position: relative;
    margin: 20px 0px;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 18px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.form-box h1 {
    font-size: 28px;
    padding: 20px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    background-color: var(--first-col);
    color: #fff;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.btn::before {
    color: #fff;
}

.btn:hover {
    box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.2);
    color: #fff;
}

.icon-container {
    padding: 10px;
    margin: 30px;
    display: flex;
    position: relative;
    border-radius: 120px;
    font-size: 28px;
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    align-items: center; 
    transition: .5s;
}

.icon-container label {
    font-size: 24px;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.1, 0, 1, 0);
    opacity: 0;
    color: transparent;
    z-index: 1;
}

.icon-container a {
    text-decoration: none;
}

.icon-container ion-icon {
    font-size: 160px;
    color: #000;
    --ionicon-stroke-width: 16px;
    transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 0.5);
    z-index: 2;
}

.icon-container:hover {
    width: 500px; 
}

.icon-container:hover ion-icon {
    transform: translateX(-75%);
}

.icon-container:hover label {
    transform: translateX(50%);
    color: #000;
    opacity: 1;
}






