@{
    ViewData["Title"] = "Orders";
}

<div class="page">
    <div class="wrapper">
        <form asp-action="ProcessOrder" method="post">
            <h1>Process Order</h1>
            <input class="input-field" type="text" name="orderId" placeholder="Order ID" />
            <button class="btn" type="submit">Process Order</button>
        </form>
    </div>
</div>
