@{
    ViewData["Title"] = "Orders";
}

<div class="page">
    <div class="wrapper">
        <div class="form-box">
            <form asp-action="ProcessOrder" method="post">
                <h1>Process Order</h1>
                <div class="input-box">
                    <input type="text" name="orderId" required/>
                    <label>Order Number</label>
                </div>
                <button class="btn" type="submit">Process Order</button>
            </form>
        </div>
    </div>
</div>
